@use "variable.scss" as var;

.logo-section {
  width: 100%;
  height: 100vh;

  .logo-section__logo-image {
    position: absolute;
    max-width: 32.88rem;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    filter: drop-shadow(5px 5px 10px black);
  }
}
