@use "variable.scss" as var;

.main-page {
  .main-page__background-image {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    filter: blur(3px) brightness(0.8);
    object-fit: cover;
  }

  .main-page__black-filter {
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateZ(-600px) scale(3.12);
  }
}
