@use "variable.scss" as var;

.recommendation-section {
  height: 100vh;
  width: 100%;

  .recommendation-section__scrolling-area {
    height: calc(
      (
        100% - var.$title__height - var.$title__margin--top -
          var.$title__margin--bottom
      )
    );
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    .recommendation-section__wrapper {
      position: relative;
      top: -5rem;
      height: 120%;
      width: fit-content;
      margin: 0 auto;

      .recommendation-section__button {
        position: absolute;
        background-color: transparent;
        border: none;

        &:hover {
          cursor: pointer;
        }

        &--exam {
          top: 28%;
          left: 6%;
          height: 24%;
          width: 15%;
        }

        &--lover {
          top: 26%;
          left: 22%;
          height: 26%;
          width: 17%;
        }

        &--single {
          top: 28%;
          left: 40%;
          height: 23%;
          width: 10%;
        }

        &--seasick {
          top: 32%;
          left: 51%;
          height: 19%;
          width: 12.5%;
        }

        &--party {
          top: 30%;
          left: 64%;
          height: 20%;
          width: 23.5%;
        }
      }

      .recommendation-section__bubble-text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        width: 10%;
        background-color: transparent;
        border: none;

        &--exam {
          top: 15%;
          left: 10.5%;
        }

        &--lover {
          top: 15%;
          left: 26.7%;
        }

        &--single {
          top: 15%;
          left: 41%;
        }

        &--seasick {
          top: 15%;
          left: 52.5%;
        }

        &--party {
          top: 15%;
          left: 69.7%;
        }
      }

      .recommendation-section__img {
        height: 100%;
        width: auto;
      }
    }
  }

  .recommendation-section__chosen-set {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 6.07rem 3rem 6.07rem;
    box-sizing: border-box;

    .recommendation-section__set-image-container {
      position: relative;
      height: 37.52rem;
      width: 35.7rem;
      flex-shrink: 0;

      .recommendation-section__set-image-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 70%;
        width: 90%;
        background-color: var.$color__tertiary;
      }
      .recommendation-section__set-name {
        position: absolute;
        top: 0;
        left: 0;
        height: 15%;
        width: 90%;
        padding: 1rem 1rem;
        box-sizing: border-box;

        .recommendation-section__set-name-text {
          position: absolute;
          right: 0;
          left: 0;
          margin: 0 auto;
          text-align: center;
          white-space: nowrap;
          font-size: 4rem;
          height: 100%;
          width: fit-content;
        }
      }
      .recommendation-section__image {
        position: absolute;
        right: 0;
        bottom: 0;
        height: auto;
        width: 85%;
      }
    }

    .recommendation-section__set-description-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      max-width: 45rem;
      flex-grow: 1;
      flex-shrink: 1;
      margin-left: 2rem;

      .recommendation-section__set-description {
        height: fit-content;
        width: fit-content;
        font-size: 2rem;
        text-align: left;
        margin-bottom: 0.7rem;
      }
    }
  }

  .recommendation-section__more-menu-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 0 6.07rem 3rem 0;
    box-sizing: border-box;

    .recommendation-section__more-menu-button {
      font-size: 1.8rem;
      height: fit-content;
      width: fit-content;
      background-color: var.$color__primary;
      padding: 1rem 1rem 1rem 1rem;
      border: 3px solid var.$color__tertiary;

      &:hover {
        cursor: pointer;
        filter: brightness(0.95);
        border: 3px solid var.$color__tertiary--lighter;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .recommendation-section {
    .recommendation-section__chosen-set {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 730px) {
  .recommendation-section {
    .recommendation-section__chosen-set {
      padding: 3rem 2rem 3rem 2rem;
    }
  }
}

@media only screen and (max-width: 570px) {
  .recommendation-section {
    .recommendation-section__chosen-set {
      .recommendation-section__set-image-container {
        height: 30rem;
        width: 100%;

        .recommendation-section__set-image-background {
          width: 100%;
        }

        .recommendation-section__set-name {
          width: 100%;

          .recommendation-section__set-name-text {
            white-space: normal;
          }
        }

        .recommendation-section__image {
          bottom: -4rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .recommendation-section {
    .recommendation-section__chosen-set {
      .recommendation-section__set-image-container {
        .recommendation-section__image {
          bottom: 0;
        }
      }
    }
  }
}
